:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #212529;

  --pixel-size: 32px;

  --contrast-black: #212529;
  --contrast-white: #f8f9fa;
}

#root {
  width: fit-content;
  margin-inline: auto;
}
